<h1>Editing items</h1>

<% form_for(@items) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </p>
  <p>
    <%= f.label :value %><br />
    <%= f.text_field :value %>
  </p>
  <p>
    <%= f.label :list_id %><br />
    <%= f.text_field :list_id %>
  </p>
  <p>
    <%= f.label :user_id %><br />
    <%= f.text_field :user_id %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @items %> |
<%= link_to 'Back', items_path %>

<% remote_form_for [@list, Item.update] do |f| %>
  <p>
    <%= f.label :title, "New Item" %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :description, "Description" %><br />
    <%= f.text_area :description %>
  </p>
  <p>
    <%= f.label :value, "Value" %><br />
    <%= f.text_field :value %>
  </p>
  <p><%= f.submit "Add Item" %></p>
<% end %>